<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>All records</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
<h1 th:text="${text}"/></div>
<ul>
    <a href="http://localhost:8080/themes/mainPage" class="btn btn-outline-dark" role="button">all themes</a>
    <a href="http://localhost:8080/logout" class="btn btn-outline-dark" role="button">logout</a>
    <a sec:authorize="hasAuthority('write')" href="http://localhost:8080/themes/create" class="btn btn-outline-dark" role="button">add theme</a>
    <a sec:authorize="hasAuthority('write')" href="http://localhost:8080/themes/giveMarks" class="btn btn-outline-dark" role="button">give marks</a>
    <a sec:authorize="hasAuthority('learn')" href="http://localhost:8080/themes/giveMarks" class="btn btn-outline-dark" role="button">my marks</a>
    <a href="http://localhost:8080/profile/getProfilePage" class="btn btn-outline-dark" role="button">my profile</a>
</ul>
<a href="http://localhost:8080/profile/profileEdit" class="btn btn-outline-dark" role="button">edit profile</a>
<div>Your email: <h4 th:text="${user.getEmail()}"/></div>
<div>Your first name: <h4 th:text="${user.getFirstName()}"/></div>
<div>Your last name: <h4 th:text="${user.getLastName()}"/></div>
<div>Your role: <h4 th:text="${user.getRole()}"/></div>
<div>Your status: <h4 th:text="${user.getStatus()}"/></div>
<div>Your image: <img th:src="${user.getImage()}" /></div>
<p>
    <img id="thumbnail" alt="Image preview">
</p>
</body>
</html>