<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Records filtered</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
</head>
<body>
<h1 th:text="${text}"/>
<ul>
    <a href="http://localhost:8080/themes/mainPage" class="btn btn-outline-dark" role="button">all themes</a>
    <a href="http://localhost:8080/logout" class="btn btn-outline-dark" role="button">logout</a>
    <a sec:authorize="hasAuthority('write')" href="http://localhost:8080/themes/create" class="btn btn-outline-dark" role="button">add theme</a>
</ul>
    <input id="txtSearch" type="text" name="keyword" placeholder="type in...">
<table id="recordsTable" class="table">
    <thead>
    <tr>
        <th scope="col">Theme</th>
        <th scope="col">Name</th>
        <th scope="col">Link</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="record: ${recordsTable}">
        <td th:text="${record.theme}"/>
        <td th:text="${record.name}"/>
        <td th:text="${record.link}"/>
        <td>
            <a sec:authorize="hasAuthority('write')" th:href="@{edit/{id}(id=${record.id})}" class="btn btn-outline-dark">edit</a>
        </td>
        <td>
            <a sec:authorize="hasAuthority('write')" th:href="@{delete/{id}(id=${record.id})}" class="btn btn-outline-dark">delete</a>
        </td>
    </tr>
    </tbody>
</table>
<script th:inline="javascript">

    /*<![CDATA[*/
    var records = /*[[${recordsTable}]]*/;
    /*]]>*/
    $('#txtSearch').on('keyup', function (){
        var value = $(this).val();
        //console.log('Value =' + value);
        // Get filtered records list
        var data = FilterFunction(value, records);
        // Clear the table and rebuild using new filtered data
        rebuildTable(data)
    });

    function FilterFunction(value, data){
        var filteredData = [];
        for(var i = 0; i < data.length; i++){
            value = value.toLowerCase();
            var theme = data[i].theme.toLowerCase();
            var name = data[i].name.toLowerCase();
            var link = data[i].link.toLowerCase();

            if(theme.includes(value) || name.includes(value) || link.includes(value)){
                filteredData.push(data[i])
            }
        }
        return filteredData
    }

    function rebuildTable(data){
        var table = document.getElementById('recordsTable')
        table.innerHTML =`
                        <tr>
                        <th scope="col">Theme</th>
                        <th scope="col">Name</th>
                        <th scope="col">Link</th>
                       </tr>`
        for(var i = 0; i < data.length; i++) {
            var row = `<tr>
                        <td>${data[i].theme}</td>
                        <td>${data[i].name}</td>
                        <td>${data[i].link}</td>
                        <td>
                        <a sec:authorize="hasAuthority('write')" th:href="@{edit/{id}(id=${data[i].id})}" class="btn btn-outline-dark">edit</a>
                        </td>
                        <td>
                        <a sec:authorize="hasAuthority('write')" th:href="@{delete/{id}(id=${data[i].id})}" class="btn btn-outline-dark">delete</a>
                        </td>
                      </tr>`
                      table.innerHTML += row
        }
    }

</script>
</body>
</html>